
// default is content-box;
* {
    box-sizing: border-box;
  }

//rem
html {
    font-size: 62.5%;
}

body {
    //background-color: $dark-blue;
    color: $dark-gray; 
    font-family: Helvetica, Arial, sans-serif;
    font-size: $m-size;
    line-height: 1.6;
}

button {
    cursor: pointer;
}

button:disabled {
    cursor: default;
}

.is-active {
    font-weight: bold;
}

img {
    width: 500px;
    height: 500px;
}

caption {
    display: block;
}



