// Colors
$dark-gray: #333333;
$gray: #666;
$soft-pink: pink;
$off-black: #20222b;
$dark-blue: #364051;
$blue: #1c88bf;
$light-blue: #464b5e;
$off-white: #f7f7f7;
$purple: #8357c5;
$light-gray: #f7f7f7;
// Spacing
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 45rem;

//Font Sizes
$font-size-large: 1.8rem;